/* 
    Created on : 17-Mar-2015, 11:00:16
    Author     : Abel Hii
*/
body{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
#container{
    padding:5px;
    font-family: Arial, Sans-serif;
    font-size: 15px;
}
label{
    display: inline-block;
    width: 245px; 
    text-align: left;
    padding-right: 10px;
}
input{
    color:#333333;
    border: 1px solid #c0c0c0;
    background-color:#F2F3F3;
    width: 100px;
}
/*tax paid and zakat*/
#t{
    width: 70px;
}
/*remove h3's tag*/
#brr{
    margin: 0px;
}
